.llk-page-header {
  display: block;
  padding: 10px 0px 0px 30px;

  .llk-breadcrumb {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.llk-page-title {
  margin: 0 !important;
  font-size: 24px;
  font-weight: 400;
}
